
.startSellToken{
    width: 100%;
    margin-block: 4rem;
}

.startSellToken_box{
    width: 60%;
    margin: 0 auto;
}

.startSellToken_box h1{
    font-size: 3rem;
}

.startSellToken_box_image{
    margin: 4rem;
    
}